@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

    <div class="row">
        <div class="col-12">
            <h2>מדריכי תיירות</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3" style="height:350px;">            
            <div class="wg-homepage-hovereffect">
                <img class="img-fluid" src="~/images/tour_guides/boston/boston_1.jpg" alt="אגם גארדה">
                <div class="overlay">
                    <h2>בוסטון ביומיים וחצי</h2>
                    <p>
                        <a asp-page="/travel_guides/north_italy" class="info">למדריך</a>
                        <br />
                        מדריך לבוסטון
                    </p>
                </div>
            </div>

        </div>
        <div class="col-xl-3">
            <div class="wg-homepage-hovereffect">
                <img class="img-fluid" src="~/images/tour_guides/california/cali_1.jpg" alt="אגם גארדה">
                <div class="overlay">
                    <h2>המדריך לשבוע בקליפורניה</h2>
                    <p>
                        <a asp-page="/travel_guides/north_italy" class="info">למדריך</a>
                        <br />
                        המדריך לקליפורניה
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3" style="padding: 0 !important;">
            <div class="wg-homepage-hovereffect">
                <img class="img-fluid" src="~/images/tour_guides/new_york/statue_of_liberty.jpg" alt="אגם גארדה">
                <div class="overlay">
                    <h2>המדריך לשבוע בניו יורק</h2>
                    <p>
                        <a asp-page="/travel_guides/NY" class="info">למדריך</a>
                        <br />
                       המדריך השלם לשבוע בניו-יורק: קניות, מה ואיפה לאכול, אטרקציות, ועוד
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3" style="padding: 0 !important;">
            <div class="wg-homepage-hovereffect">
                <img class="img-fluid" src="~/images/tour_guides/italy/garda_lake.jpg" alt="אגם גארדה">
                <div class="overlay">
                    <h2>מדריך לצפון איטליה ואגם גארדה</h2>
                    <p>
                        <a asp-page="/travel_guides/north_italy" class="info">למדריך</a>
                        <br />
                        המדריך השלם לשבוע בצפון איטליה ואגם גארדה. ונציה. דולומיטים, ועוד
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3" style="padding: 0 !important;">
            <div class="wg-homepage-hovereffect">
                <img class="img-responsive" src="~/images/tour_guides/italy/garda_lake.jpg" alt="אגם גארדה">
                <div class="overlay">
                    <h2>מדריך לצפון איטליה ואגם גארדה</h2>
                    <p>
                        <a asp-page="/travel_guides/north_italy" class="info">למדריך</a>
                        <br />
                        המדריך השלם לשבוע בצפון איטליה ואגם גארדה. ונציה. דולומיטים, ועוד
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="wg-homepage-hovereffect">
                <img class="img-responsive" src="~/images/tour_guides/italy/garda_lake.jpg" alt="אגם גארדה">
                <div class="overlay">
                    <h2>מדריך לצפון איטליה ואגם גארדה</h2>
                    <p>
                        <a asp-page="/travel_guides/north_italy" class="info">למדריך</a>
                        <br />
                        המדריך השלם לשבוע בצפון איטליה ואגם גארדה. ונציה. דולומיטים, ועוד
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="wg-homepage-hovereffect">
                <img class="img-responsive" src="~/images/tour_guides/italy/garda_lake.jpg" alt="אגם גארדה">
                <div class="overlay">
                    <h2>מדריך לצפון איטליה ואגם גארדה</h2>
                    <p>
                        <a asp-page="/travel_guides/north_italy" class="info">למדריך</a>
                        <br />
                        המדריך השלם לשבוע בצפון איטליה ואגם גארדה. ונציה. דולומיטים, ועוד
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="wg-homepage-hovereffect">
                <img class="img-responsive" src="~/images/tour_guides/italy/garda_lake.jpg" alt="אגם גארדה">
                <div class="overlay">
                    <h2>מדריך לצפון איטליה ואגם גארדה</h2>
                    <p>
                        <a asp-page="/travel_guides/north_italy" class="info">למדריך</a>
                        <br />
                        המדריך השלם לשבוע בצפון איטליה ואגם גארדה. ונציה. דולומיטים, ועוד
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- מדריכים טכנולוגיים -->
    <div class="row">
        <div class="col-12">
            <h2>מדריכים טכנולוגיים</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3">
            <div class="wg-tech-hovereffect">
                <h3>מדריך לפתיחת אתר אינטרנט</h3>
                <div class="overlay">
                    <h4>המדריך לבניית אתרים - לעצלנים:</h4>
                    <p>
                        מדריך שמיועד למי שאינו מעוניין ללמוד להקים אתר אלא להיעזר 
                        באחת מעשרות חברות הקמת האתרים הקיימות בשוק. כולל רשימה של חברות הקמת אתרים. 
                        <br /><br />
                        <a href="#">לחץ כאן למדריך</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="wg-tech-hovereffect">
                <h3>מדריך אומברקו</h3>
                <div class="overlay">
                    <h4>המדריך למערכת ניהול התוכן הפופלרית מבוססת דוט נט אומברקו:</h4>
                    <p>
                        מדריך לבניית אתרים במערכת ניהול התוכן הפופולארית אומברקו. כולל עיצוב תבנית.  
                        <br /><br />
                        <a href="#">לחץ כאן למדריך</a>
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="wg-tech-hovereffect">
                <h3>מדריך וורדפרס</h3>
                <div class="overlay">
                    <h4>המדריך למערכת ניהול התוכן הפופולרית בעולם וורדפרס:</h4>
                    <p>
                         מדריך לבניית אתרים במערכת ניהול התוכן הפופולארית וורפרס. כולל עיצוב תבנית. 
                        <br /><br />
                        <a href="#">לחץ כאן למדריך</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="wg-tech-hovereffect">
                <h3>המדריך לבניית אתרים</h3>
                <div class="overlay">
                    <h4>המדריך לבניית אתרים בעזרת HTML ו- CSS:</h4>
                    <p>
                        מדריך בניית והקמת אתר באינטרנט המבוסס על לימוד עצמי תוך כדי כריית מידע ועל ידי הנחיות מפורטות 
                        <br /><br />
                        <a href="#">לחץ כאן למדריך</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

  
