@page
@model WebGuideApplication.Pages.travel_guides.NYModel
@{
    ViewData["Title"] = "NY";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>NY</h2>
מדריך לניו יורק

<div class="row">
    <div class="col-xl-2">
        margin left
    </div>

    <div class="col-xl-2">
        side bar
        <!-- תפריט צד -->
        @{Html.RenderPartial("_SideBar");}
    </div>

    <div class="col-xl-6">
        <!-- Main content-->
        <!-- תוכן המאמר / מדריך -->
        <section>
            <article>

                <h1>שבוע בניו - יורק: המדריך</h1>

                <div class="fb-like" data-href="http://www.wguide.co.il/more/ny.aspx" data-send="true" data-width="450" data-show-faces="true"></div>
                <br />
                <g:plusone></g:plusone>
                <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
                <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/Share" data-counter="right">
                </script>

                <p>
                    אך ניו - יורק, ניו - יורק. העיר והאגדה. מה לא נאמר כבר על העיר ניו- יורק?
                    התפוח הגדול - The Big Apple. בירת העסקים והפרסום של ארה"ב, ועוד.
                    <br />
                    לעיר באמת יש קסם מיוחד - אם בגורדי השחקים מעוררי הכבוד של מנהטן,
                    אם באווירה ברחובות, אדי הקיטור הבוקעים מן הכביש מן העיר התחתית, חנויות הענק,
                    הרכבת התחתית, ובעיקר, אך בעיקר - האווירה הבינלאומית והרב גוונית של העיר המיוחדת הזו.
                    <br /><br />
                    ניו - יורק למעשה מחולקת למספר רובעים: ברונקס, קווינס, סטטן איילנד, ברוקלין ומנהטן.
                    למעשה הטיול יתמקד במנהטן
                    פרט לחצי יום בגן - החיות בברונקס.
                    <br />
                    מנהטן עצמה מחולקת לצד המזרחי העליון: Upper East Side.
                    צד מזרחי תחתון: Lower East Side.
                    צד מערבי עליון: Upper West Side, וצד מערבי תחתון: Lower West Side.
                    <br />
                    באמצע יש את ה - סנטרל פארק.
                    <br /><br />
                    בכלל, עוד תופעה בולטת לעין בניו - יורק זה כמות היהודים בה.
                    למעשה סטטיסטית אחד מחמש תושבים בניו - יורק
                    הוא יהודי.
                    <br />
                    ניו - יורק היא סוג של גן - עדן למטיילים שומרי כשרות. בתור אחד שנאלץ לסחוב
                    בכל נסיעה בעולם תיק נוסף מלא שימורים, אפילו למקומות אחרים בארה"ב - בניו - יורק
                    לא חסרות מסעדות כשרות, החל מפיצריות ובתי - קפה קטנים, המשך בסופרים כשרים,
                    ועד מסעדות יוקרה.
                    <br />
                    בשבתות אין בעייה למצוא בית - כנסת (הבעייה היא להחליט לאיזה מהם הולכים..)

                </p>
                <img alt="פסל החירות" class="article_img" src="../img/tour_guides/new_york/statue_of_liberty.jpg" />

                <h6>טיפים כלליים:</h6>
                <p>
                    1.  להכין תוכנית מפורטת מראש, מה עושים כל יום,
                    כולל שמות מדוייקים באנגלית:
                    מספרי רחובות, שדרות, קווי רכבת וכו'.
                    <br />
                    אני יודע, כשעוברים בארץ על כל הסיקורים והטיפים למיניהם זה די נראה
                    כמו סינית למי שלא היה עדיין בניו - יורק, ולא כל כך מבינים
                    על מה מדברים, וכו' - אך כאשר מגיעים לעיר, תוך שעתיים
                    בערך קולטים את העניין, ואז הטיפים, הרחובות, שדרות, ומספרי הקווים
                    בתחתית הופכים בין רגע למאוד שימושיים.
                    <br /><br />
                    ככלל, ניו - יורק מאוד מאוד קלה להתמצאות. מנהטן מחולקת בצורה של
                    שתי וערב: שדרות מן הצפון לדרום, שנחצות על ידי רחובות ממזרח למערב.
                    סוג של מטריצה אם תרצו, או רשת שמורכבת משדרות ורחובות, מה שמקל
                    מאוד על ההתמצאות בעיר.

                    <br /><br />
                    2. להזמין מלונות מהארץ.
                    <br />
                    ניתן להזמין מלונות בכל העולם דרך האתר:
                    <br />
                    <a href="http://www.booking.com" class="Bluelink" target="_blank">Booking.com</a>
                    <br /><br />
                    אתר נוסף מצויין שחבר המליץ לי עליו הוא: Hotwire.
                    <br />
                    העיקרון פשוט: בעלי האתר עובדים על כמעט כל המלונות השווים (לא רק מלונות - גם טיסות, השכרת רכב וכו') כאשר
                    מכניסים את תאריכי הטיסה / שהות וכו' והאתר מציע מספר אופציות במקום היעד בלי לפרט את שם המלון / סוג רכב וכו'
                    אלא רק איזור, כמה כוכבים וכו' - לאחר שמבצעים הזמנה מקבלים את שם המלון. בדרך כלל אפשר להשיג
                    מלונות ממש שווים במחירים מגוחכים.

                    <br />
                    <a href="http://click.linksynergy.com/fs-bin/click?id=3PgwhbmxKK0&offerid=215953.10000002&type=3&subid=0" class="Bluelink" target="_blank">Hotwire</a>
                    <br /><br />
                    3. לחרוש את הטיפים באתר למטייל - במדור 1001 טיפים:
                    <br />
                    <a href="http://www.lametayel.com" class="Bluelink" target="_blank">למטייל</a>
                    <br />
                    דורש הרשמה קצרה.
                    <br /><br />
                    4. להכנס ל - Ynet תיירות, מדריך עולמי, ניו - יורק, ולקבל רעיונות לטיולים באיזור.
                    <br />
                    להכנס לאתר של יאיר זוהר, ולעבור על הקישורים שקשורים בניו - יורק:
                    <br />
                    <a href="http://www.tiulim.net" class="Bluelink" target="_blank">יאיר טיולים</a>
                    <br />
                    לגלוש לעכבר העיר:
                    <br />
                    <a href="http://www.mouse.co.il/world/CM.world_articles_item,1263,209,38526,.aspx" class="Bluelink" target="_blank">עכבר העיר</a>
                    <br /><br />
                    5. לחשב בעזרת Google Maps טווחי הליכה / נסיעה, וגם להדפיס
                    קצת מפות
                    <br />
                    <a href="http://maps.google.com/maps" class="Bluelink" target="_blank">http://maps.google.com/maps</a>
                    <br /><br />
                    6. להכין קובץ Word תמציתי עם הטיפים המרכזיים
                    שחשוב לזכור ולקרוא בשדה - תעופה, או בטיסה - 10 שעות..
                    <br /><br />
                    7. לקחת קופונים מהתחנה המרכזית / כניסה למלון:
                    בתחנה המרכזית ובסטנדים במלונות יש מלא קופונים ופרסומות לחנויות
                    השונות ולאטרקציות - כדאי לקחת. זה חינם!
                    <br />
                    לדוגמה: 10$ הנחה בקנייה מעל 100$ ב - J&R, תיק מתנה ב - B&H, ועוד.
                    <br />
                    טיפ נוסף בקשר לקופונים: ב - Jeresey Gardens מציגים מייד בכניסה דרכון,
                    ומקבלים חוברת קופונים חינם.
                    <br /><br />
                    עוד בענייני קופונים ומפות: מומלץ לבקש במלון את מדריך ה - cityguideny שמחולק חינם:
                    <br />
                    <a href="http://www.cityguideny.com" class="Bluelink" target="_blank">http://www.cityguideny.com</a>
                    <br />
                    בחוברת יש מפות של מנהטן, של התחתית, וגם מלא מידע על מוזיאונים, מסעדות, שופינג, ועוד - וגם,
                    כמובן, קופונים.
                    <br /><br />
                    8. כל יום שישי מארבע אחר הצהריים הכניסה ל - MoMa, המוזיאון לאומנות מודרנית - חינם.
                    <br /><br />
                    9. כאשר חוזרים לשדה תעופה ניתן לקחת מונית, או אם הטיסה מ - JFK
                    התחתית. אך טיפ נוסף הוא לקחת את ה - BlueVan.
                    <br />
                    מחייגים מכל טלפון ציבורי שיחת חינם: 1-800-bluevan ומזמינים. עולה בערך 15$, וצריך להזמין
                    לפחות 3 שעות לפני. העיקרון הוא שהם בערך כל שלוש דקות מוציאים ואן שעובר
                    בכל ה - Upper West ואוסף את האנשים שהזמינו, ואז ממשיך ל - JFK.
                    <br /><br />
                    10. לקחת iPod Touch!!!
                    קטן, קומפקטי, מתחבר מכל מקום לאינטרנט עם WiFi - מאפשר לעדכן ת'פייסבוק / טוויטר בזמן אמת.
                    שיחות חינם לארץ עם סקייפ, SMS חינם עם ICQ (שני התוכנות נתנות להורדה חינם מהחנות של אפל),
                    ובין היתר גם משמש כנגן מוסיקה, וידאו, וכו'.
                    <br />
                    עדיף על לפטופ כבד ומגושם!


                </p>

                <h6>תוכנית הטיול:</h6>
                <p>
                    טסתי ביום חמישי בלילה - נחיתה בשישי בבוקר ה - 07 לאוגוסט 09,
                    ונחתתי חזרה ביום ראשון אחה"צ -  ה - 16 לאוגוסט.
                    <br />
                    קצר, אך לעניין...
                    <br />
                    התכנית הייתה נחיתה ביום שישי בבוקר בניו - ארק, משם רכבת למנהטן,
                    יציאה במדיסון סקוור גארדן, וקבלת ההלם הראשוני - אני בניו - יורק.
                    גורדי השחקים, הרחוב הניו - יורקי הסואן - המוניות הצהובות, שלטי הפרסומת הענקיים.
                    <br />
                    הגעתי לניו - יורק..
                    <br />
                    יום שישי הוקדש לביקור ב - 770 (בית הרבי), ובמוזיאון היהודי, שבת ב - Upper West Side,
                    סנטרל פארק.
                    ראשון: מוזיאונים: מוזיאון הטבע, מטרופוליטן ובניין רוקפלר. שני: Shopping. שלישי: פסל החירות.
                    רביעי: Six Flags. בערב גשר ברוקלין.
                    חמישי: גראונד זירו, צ'יינה טאון, איטליה הקטנה, סוהו,
                    ו..עוד קצת שופינג, ובערב הצגה בברודווי.
                    שישי: גן החיות ברובע ברונקס, מוזיאון סוני, מוזיאון MoMa, חנות NBA, חנות F.A.O שוורץ, ולמלון.
                    שבת: במלון באפר ווסט, ובצהריים אוניברסיטת קולומביה.
                    מוצ"ש: שלום שלום ניו - יורק - חוזרים לישראל......
                </p>

                <h6>שישי</h6>
                <p>
                    שישי כאמור,
                    נחיתה בניו - ארק, משם רכבת למנהטן ל - PENN STATION. (NJ TRANSIT Rail). המחיר: 15$.
                    איך שהגעתי לניו - יורק קניתי בתחתית כרטיס שבועי ל - Subway - מומלץ ביותר!
                    מאפשר נסיעה חופשית במשך שבוע ברכבת התחתית, וכן באוטובוסים העירוניים.
                    המחיר: 27$.
                    <br />
                    יצאתי מה - PENN STATION אל אוויר ניו - יורק, מדיסון סקוור גארדן,
                    וההלם הראשוני מכה בפנים - אני בניו - יורק.
                    הרחוב הסואן, המונית הצהובה, המוני אנשים ברחוב,
                    שלטי הפרסומות הענקיים, האמפייר סטייט בילדינג שמבצבץ
                    במעלה הרחוב, גורדי השחקים - בקיצור מנהטן.
                    אין כמו הפעם הראשונה בניו - יורק.
                    <br />
                    סיבוב קצר ברחוב להרגיש את האווירה, ומשם לקחתי את התחתית למלון שנמצא ב - Upper West Side.
                    את המלון הזמנתי מהארץ - מלון Days Inn.
                    <br />
                    המלון ממוקם על שדרת ברודווי עם רחוב 94. המיקום אידיאלי לאנשים דתיים ובכלל. לדתיים - כיוון
                    שיש הרבה מסעדות ובתי קפה כשרים ממש דקה שתיים מהמלון, כמו גם בתי - כנסת לרוב.
                    <br />
                    בכלל, המלון ממוקם מרחק של 7 דקות בתחתית ממרכז מנהטן,
                    כיכר טיימס המפורסמת (שעוד נחזור אליה בהמשך..) ובאופן
                    כללי המלון יחסית זול, נקי, נעים, ממוזג, טלוויזיה בחדר, מקלחת ושירותים צמודים (מה שלא מובן מאליו
                    בהרבה מלונות מתחת ל - 200$ ללילה במנהטן), צוות אדיב וחביב.
                    <br /><br />
                    <img alt="Days Inn" src="../img/tour_guides/new_york/days.jpg" />
                    <img alt="Days Inn" src="../img/tour_guides/new_york/days1.jpg" />
                    <img alt="Days Inn" src="../img/tour_guides/new_york/days2.jpg" />
                    <img alt="Days Inn" src="../img/tour_guides/new_york/days3.jpg" />
                    <br />
                    לגבי המלון: שיטוט באינטרנט טרם הנסיעה העלה
                    שקשה למצוא מלון טוב במחיר סביר בניו - יורק.
                    רוב המלונות הסבירים / טובים הם סביב ה - 200$.
                    <br />
                    המחיר ב - Days Inn ללילה יצא לי כ - 100$ בממוצע.
                    לקחתי 8 לילות, כאשר בסוף שבוע המחיר הוא: 127$ ללילה, ובאמצע השבוע 87$.
                    סה"כ ל - 8 לילות יצא 938$ כולל מיסים, וכו'.
                    <br />
                    <a href="http://www.daysinn.com/DaysInn/control/Booking/modify_dates?tab=tab2&id=15465&propBrandId=DI&useWRPoints=false" class="Bluelink" target="_blank">Days Inn NY Upper West Side</a>
                    <br />
                    <a href="http://www.daysinn.com" class="Bluelink" target="_blank">Days Inn</a>
                    <br />
                    התארגנות מהירה במלון, כוס קפה וקוקיס בקפה Mocias
                    (כשר כמובן) -שדרה אחת מעל המלון: Amsterdam Ave. (חצי דקה הליכה..)
                    ומשם לברוקלין, אל בית - הרבי ב - 770 המפורסם.
                    <br />
                    ההגעה פשוטה: מהתחתית ברחוב 96 (ליד המלון) לוקחים את קו 3 אדום,
                    (3 זה האקספרס - המהיר) עד תחנת Kingston Ave בברוקלין.
                    <br />
                    מי שמגיע מהצד המזרחי יכול לקחת את קו 4 ירוק.
                    <br />
                    יוצאים מהתחנה, וממול בית הרבי.
                    יש שם את החדר המפורסם בו הרבי היה מקבל קהל, ואת מסדרון ההמתנה
                    הקצר, שם ניתן לקרוא פרק תהילים. בצמוד יש ישיבה של חב"ד, ושני בניינים
                    ליד יש מוזיאון שאם אינני טועה נקרא "מוזיאון הילד היהודי" - לא הייתי, לא בטוח.
                    <br />
                    <img alt="בית הרבי" class="article_img" src="../img/tour_guides/new_york/770.jpg" />
                    <img alt="בניינים בניו - יורק" src="../img/tour_guides/new_york/buildings.jpg" />
                    <img alt="מלון פלאזה המפורסם" src="../img/tour_guides/new_york/plaza.jpg" />
                    <br /><br />
                    מברוקלין חזרתי למנהטן, אל השדרה חמישית, למוזיאון היהודי: The Jewish Museum שממוקם
                    בשדרה החמישית ורחוב 92.
                    <br />
                    במוזיאון יש מדי פעם תערוכות מתחלפות, וכן תערוכות יודאיקה קבועות.
                    כניסה עולה: 12$ למבוגר.
                    <br />
                    כאשר אני ביקרתי הייתה תערוכה בקומה הראשונה של צייר יהודי של ציורים מהתקופה של הבית בפולין
                    לפני השואה.
                    בשאר הקומות יש פריטי יודאייקה מרשימים מכל התקופות מכל מיני ארצות, כגון חנוכיות
                    מרשימות, כלי שבת וחגים, רקמות, ארונות קודש, ספרי תורה עתיקים, עתיקות, חרסים וכו'.
                    <br />
                    לסיכום: נחמד. מוזיאון לשישי בצהריים.


                    <br /><br />
                    חזרה למלון להתארגנות לשבת. החזרה אגב,
                    מהצד המזרחי למערבי היא עם אוטובוס. התחנה נמצאת ברח' 96,
                    ויש קו שחוצה את הסנטרל פארק מהצד המזרחי למערבי, וכן ההיפך. חינם עם הכרטיס השבועי.

                </p>

                <h6>שבת</h6>
                <p>
                    שבת במלון: ערב שבת תפילה בבית - כנסת עוזי - נחשב למרכז הביצה... "היקר והאוהל נחמה" (למי
                    שבקי ברזי סרוגים...) של ה - Upper West Side..
                    <br />
                    <a href="https://ozny.org" class="Bluelink" target="_blank">בית כנסת עוזי</a>
                    <br />
                    הבית - כנסת קרוב מאוד למלון, על רח' 95 בין אמסטרדם וקולומבוס (יוצאים מהמלון, פונים שמאלה,
                    הולכים למעלה לכיוון Amsterdam Ave, פונים שמאלה, וימינה לרח' 95 לכיוון Columbus Ave).
                    לא ניתן לפספס את המבנה הגדול והמרשים.
                    <br /><br />
                    בכלל כל שכונת ה - Upper West Side נחשבת ל"ביצה" (שוב, ראה סרוגים..) של הרווקים
                    הדתיים הלאומיים שמתקבצים מכל ארה"ב ובאים להשכיר שם דירה על מנת
                    למצוא שידוך הגון.
                    <br />
                    ארוחת ערב שבת בחב"ד: רח' 92 וקולומבוס (101 West).
                    <br />
                    <a href="http://www.chabadwestside.org" class="Bluelink" target="_blank">חב"ד Upper West</a>
                    <br />
                    עקרונית, כל ערב שבת יש שני חברה צדיקים שמארגנים ארוחת ערב שבת לכל הישראלים והתיירים
                    שמגיעים לעיר. הארוחה רשמית חינם, אך בהחלט כדאי ומומלץ לתרום במוצ"ש כי אני לא יודע
                    מי ואיך מממן אותם.
                    <br /><br />
                    <strong>עדכון: </strong>
                    <br />
                    חב"ד אפר ווסט סייד עבר מרחוב 92 וקולומבוס לרחוב 97 ואמסטרדם. הארוחת שבת כבר לא בחינם ועולה 36$. ניתן
                    להזמין ולשלם דרך האתר אינטרנט שלהם בקישור הבא:
                    <br />
                    <a href="http://www.chabadwestside.org/templates/articlecco_cdo/aid/563726/jewish/Shabbat-Dinners-at-Chabad.htm" class="Bluelink" target="_blank">http://www.chabadwestside.org/templates/articlecco_cdo/aid/563726/jewish/Shabbat-Dinners-at-Chabad.htm</a>
                    <br /><br />
                    בבוקר התפללתי במרכז היהודי. נמצא על רחוב 86, בין שדרות אמסטרדם וקולומבוס, כעשר דקות הליכה מהמלון.
                    <br />
                    <a href="http://www.jewishcenter.org" class="Bluelink" target="_blank">http://www.jewishcenter.org</a>

                    <br />
                    לאחר התפילה יש קידוש גדול, ואז מתאספים כל החברה הצעירים מהשכונה לסוג
                    של מפגש חברתי גדול - בנים / בנות  - זה הזמן לבוא לראות ולהיראות, ואולי
                    לצאת עם דייט למוצ"ש...
                    <br />
                    לאחר ארוחת שבת עם כמה חברה מהשכונה הלכתי לטייל בסנטרל פארק.
                    עוד יתרון במיקום של המלון לאנשים דתיים שהוא ממש קרוב לסנטרל פארק, כך שניתן לנצל את שבת
                    לטיול בסנטרל פארק.
                    <br />
                    בכלל, כאשר אני מטייל בחו"ל אני משתדל לשהות בשבתות במקומות שמתאימים לטיול
                    רגלי, וכך מנצל את החופשה עד תום. לדוגמה, באיטליה - בוונציה - שגומרים ביום אחד ברגל.
                    כעת בניו - יורק בקרבת הסנטרל פארק.
                    <br />
                    ההגעה פשוטה:
                    <br />
                    יוצאים מהמלון ויורדים לרחוב 86. פונים שמאלה (מזרחה) לכיוון שדרת קולומבוס וכו'. מיד לאחר
                    שדרת קולומבוס מגיעים לסנטרל פארק.
                    <br />
                    אגב, בשבת אחר הצהריים הפארק מתמלא בחברה דתיים - מלא כיפות סרוגות וחצאיות, זה הזמן
                    למצוא שידוך (פעם שנייה כבר השבת..) , למעשה כולם מתכנסים באיזור שנקרא: The Great Loan.
                    <br />
                    זה הזמן לגשת אל אחת הבנות: Nice to meet, my name is... i'm from Israel, What are you doing tonight?
                    <br />
                    כיון ששבת ולא ניתן לרשום מספר טלפון - בקשו פייסבוק..
                    <br /><br />
                    בתי - כנסת נוספים באיזור:
                    <br />
                    Young Israel - ישראל הצעיר: רחוב 81, בין שדרות אמסטרדם וברודווי, 210 West.
                    <br />
                    <a href="http://www.yiws.org" class="Bluelink" target="_blank">Young Israel West side</a>
                    <br />
                    West Side Institutional Synagogue (76th between Columbus/Amsterdam): אומרים שיש שם אחלה קידוש בבוקר...
                    <br />
                    בית - הכנסת המפורסם של הרב קרליבך זצ"ל:
                    <br />
                    ברח' 79: 305 West 79th Street
                    <br />
                    <a href="http://www.carlebachshul.org" class="Bluelink" target="_blank">Carlebach Shul</a>
                    <br />

                </p>

                <h6>יום ראשון: מוזיאונים</h6>
                <p>
                    ניו - יורק היא ללא ספק עיר של מוזיאונים, כמעט מכל הסוגים ניתן למצוא, החל ממוזיאון
                    הבורסה של Wall Street, ועד למטרופוליטן הידוע.
                    <br />
                    את יום ראשון הקדשתי לשני המוזיאונים שנראה לי שהם אולי הכי ידועים בניו - יורק. הראשון הוא:
                    <strong>מוזיאון ההסטוריה של הטבע: American Museum of Natural History.</strong>
                    <br />
                    המוזיאון ממוקם ממש בכניסה לסנטרל פארק, מהצד המערבי (מרחק הליכה מהמלון..) על רחוב 79, דהיינו
                    לאחר שדרת קולומבוס.
                    <br />
                    כניסה עלתה לי 24$, כולל פלנטריום.
                    <br />
                    כשהייתי היו עוד איזה שני תערוכות בתשלום נוסף - ויתרתי.
                    <br />
                    המוזיאון עצמו מאוד מרשים, בייחוד השלדים של הדינוזאורים שלדעתי יהיה חוויה לכל ילד, ואף מבוגר.
                    השלדים של הממוטות, ועוד מוצגים מעניינים - לא נקלקל את ההפתעה..
                    <br />
                    <img alt="מוזיאון ההסטוריה של הטבע" class="article_img" src="../img/tour_guides/new_york/nature.jpg" />
                    <img alt="מוזיאון ההסטוריה של הטבע" src="../img/tour_guides/new_york/nature1.jpg" />
                    <img alt="מוזיאון ההסטוריה של הטבע" src="../img/tour_guides/new_york/nature2.jpg" />
                    <br /><br /><br />
                    עקרונית, סוג של must לכל מי שפעם ראשונה בניו - יורק.
                    <br />
                    משם המשכתי לארוחת צהריים שקניתי ב - Kosher Market Place שנמצא על שדרת ברודווי, בין הרחובות 90 ו - 91.
                    יש שם אחלה סנדוויצ'ים שהם עושים במקום ועוד מלא מוצרים כשרים. הרבה מוצרים מהארץ
                    למי שמתגעגע - ספרינג וכאלה..
                    <br />
                    לאחר מכן המשכתי ל<strong>מוזיאון המטרופוליטן</strong> שנמצא בצידו המזרחי של הסנטרל פארק.
                    <br />
                    המוזיאון הוא מוזיאון אומנות ע-נ-ק עם המון מוצגים מכמעט כל הארצות, ומכל התקופות.
                    המוזיאון מחולק לפי איזורים: יוון העתיקה, רומא, מצרים העתיקה וכו'.
                    <img alt="המטרופוליטן" class="article_img" src="../img/tour_guides/new_york/metropolitan.jpg" />
                    <img alt="המטרופוליטן" src="../img/tour_guides/new_york/metropolitan1.jpg" />
                    <img alt="המטרופוליטן" src="../img/tour_guides/new_york/metropolitan2.jpg" />
                    <br />
                    החלק של מצרים העתיקה מרשים ביותר - מומיות, כתבי חרטומים, אומנות, קברי הפרעונים, המומנטים
                    של כל הפרעונים, וכו' - והכל אמיתי. מרשים ביותר. עוד חלק שאהבתי זה תצוגה
                    של אבירים מימי הביניים: שריון קסקסים, חרבות, ועוד.
                    אין מה לומר, המוזיאון מרשים ומומלץ, גם למי שלא בדיוק חובב אומנות מושבע..
                    <br />
                    מחיר מומלץ בכניסה הוא 5$. אפשר כמובן לשלם יותר. תרומה לאומנות..
                    <br />
                    כתובת המוזיאון היא:
                    <br />
                    השדרה החמישית עם רחוב 82.
                    <br />
                    שעות פעילות: יום שני סגור.
                    ראשון, ושלישי עד חמישי: מתשע וחצי בבוקר, עד חמש וחצי אחר הצהריים.
                    <br />
                    למי שמגיע ממוזיאון ההסטוריה של הטבע מומלץ לקחת קו אוטובוס פנימי שמוריד ממש ליד המוזיאון.

                    מהמטרופוליטן המשכתי אל מרכז רוקפלר:  <strong>Rockefeller Center</strong>.
                    <br />
                    זהו אחד הבניינים הגבוהים בניו - יורק. מדובר בבניין שנבנה בסביבות 1930 על ידי
                    מליונר אחד - רוקפלר מן הסתם... שעל אף משבר הבורסה של אותם ימים בנה את
                    המגדל, וכך נתן עבודה להרבה מאוד אנשים.
                    <br />
                    מי שמכיר אגב, את התמונה המפורסמת (שתלויה כמעט בכל חדר מגורים בבסיסים..) של פועלים יושבים / תלויים
                    באוויר על פיגום מתכת ומאחוריהם ניו - יורק - אז שם היא צולמה, במרכז רוקפלר
                    כאשר הוא נבנה.
                    במקום פועלת תחנת רדיו, ותאטרון עם מופעים מרשימים.
                    <br />
                    בכניסה לבניין מקבלים הסבר על הבניין, תהליך בנייתו, הסיפור שלו, ושל
                    מי שבנה אותו, וכו' - מעניין.
                    <br />
                    איך מגיעים?
                    <br />
                    מרכז רוקפלר נמצא על השדרה החמישית: The Fifth Avenue, בין הרחובות 49 ו - 50.
                    <br />
                    כמה עולה?
                    <br />
                    20$ למבוגר.
                    <br />
                    כאן נחזור על הטיפ: לקחת קופון הנחה בתחנה מרכזית (Port Authority), או במלון.
                    <br />
                    מה רואים?
                    <br />
                    את כל מנהטן וניו - יורק, כולל הסנטרל פארק מתפרסים למרגלות הבניין.
                    <br />
                    <img alt="מנהטן מראש מגדל רוקפלר" class="article_img" src="../img/tour_guides/new_york/rock.jpg" />
                    <img alt="מנהטן מראש מגדל רוקפלר" class="article_img" src="../img/tour_guides/new_york/rock1.jpg" />
                    <br />
                    כפי שאתם שמים לב, נפלתי על יום מעונן וסגריר, לא אידיאלי לצילומים...
                    <br /><br />
                    כאן נציין, שאפשר גם לעלות לראש מגדל האמפייר סטייט: Empire State Building שממוקם
                    ברח' 34 (רואים אותו בתמונה השנייה באופ). בכל מקרה, יש אומרים שזה יותר שווה ויש
                    אומרים שזה יותר שווה. לא הייתי באמפייר סטייט, אז אתן לכם להחליט, אולי בביקור הבא.. (נקווה שלא יהיה
                    יום סגריר שוב..).
                    <br />
                    כאן מסתיים לו יום ראשון...
                </p>

                <h6>יום שני: שופינג</h6>
                <p>
                    מה עושים בניו - יורק?
                    <br />
                    נכון מאוד: שופינג.
                    אז את יום שני הקדשתי לשופינג וקניות.
                    <br />
                    בבוקר יצאתי לכיוון <strong>Jersey Gardens</strong>
                    <br />
                    זוהי חנות אאוטלט - יותר נכון קניון (מקורה) שיש בו המון חנויות Outlet.
                    <br />
                    האמת? מעט התאכזבתי מזה שלא מצאתי חנות Rockport ו - Ralph Lauren. אבל יש שני חנויות
                    טובות של טומי הילפיגר, וחנות טובה של סמסונייט (מזוודות ותיקי טרולי). יש גם חנות
                    של טימברלנד, ועוד חנויות רבות, מומלץ להכנס לאתר ולבדוק:
                    <br />
                    <a href="http://www.jerseygardens.com" class="Bluelink" target="_blank">Jersey Gardens</a>
                    <br /><br />
                    איך מגיעים?
                    <br />
                    מגיעים לתחנת אוטובוס Port Authority שנמצאת ממש קרוב לכיכר טיימס במנהטן.
                    <br />
                    התחנה נמצאת למעשה ברחוב 42, בין השדרה השמינית והתשיעית.
                    כמעט כל רכבת בתחתית מגיעה לשם - ממש פשוט להגיע.
                    <br />
                    בתחנה לוקחים את קו 111 מרציף 222. לפני כן קונים כרטיסים בקופה.
                    מחיר כרטיס הלוך ושוב הוא כ - 12$ לאדם.
                    <br />
                    הנסיעה עם NJ Transit, ניתן לברר זמני נסיעה באתר שלהם:
                    <a href="http://www.njtransit.com" class="Bluelink" target="_blank">NJ Transit</a>
                    <br />
                    כשמגיעים ל - Jersey Gardens לא לשכוח להציג את הדרכון מיד בכניסה ולקבל חוברת קופונים חינם.
                    <br /><br />
                    בחזור קפצתי לחנות של Mont Blanc, אבל המחירים של העטים שם די יקרים, כמעט כמו בארץ.
                    החנות נמצאת ב - 598 Madison Avenue 598.
                    <br /><br />
                    <strong>חנויות נוספות מומלצות</strong>
                    <br />
                    הגדרה מעט בעייתית, כיוון שבניו - יורק יש אינסוף חנויות... ובכל זאת.
                    <br />
                    <strong>B&H</strong>: חנות הצילום הידועה, שכמעט כל העובדים בה הם יהודים חרדים או
                    דתיים. אחת החנויות הכי גדולות אם לא הגדולה ביותר בניו - יורק לציוד צילום, החל ממצלמות
                    פשוטות, ועד ציוד צילום מקצועי. נמצאת בין השדרה השמינית לתשיעית, בין הרחובות
                    33 ו - 34.
                    חנות מומלצת ביותר!!. חוויית קנייה מיוחדת!. גם אם לא צריכים מצלמה כדאי לקפוץ, ועל הדרך
                    לאסוף את אחד המגזינים שמחולקים חינם בחנות.
                    <br />
                    <a href="http://www.bhphotovideo.com" class="Bluelink" target="_blank">B&H</a>
                    <br /><br />
                    <strong>לחובבי עטי היוקרה:</strong>
                    <br />
                    חנות Joon. נמצאת על Lexington Ave בין הרחובות 61 ו - 62.
                    שדרת לקסינגטון למעשה היא השדרה שאחרי השדרה השלישית (בצד המזרחי). היא
                    לא נקראת השדרה הרביעית. והיא למעשה שני שדרות מזרחה לשדרה החמישית (אחריה יש את
                    Park Ave, ו - Madison Ave, ואז השדרה החמישית).
                    <br />
                    קניתי שם אחלה פארקר ציפורן (שאין בארץ..) ב - 89$.
                    <br />
                    <a href="http://www.joonpens.com" class="Bluelink" target="_blank">http://www.joonpens.com</a>
                    <br /><br />
                    <strong>Fountain Pen Hospital</strong>
                    <br />
                    עוד חנות עטי יוקרה מצויינת עם מבחר גדול, שנמצאת ממש קרוב ל - City Hall ול - Park Row, J&R וכו'.
                    <br />
                    <a href="http://www.fountainpenhospital.com" class="Bluelink" target="_blank">Fountain Pen Hospital</a>
                    <br /><br />
                    <strong>J&R</strong>:
                    <br />
                    חנות (או ליתר דיוק מספר חנויות..) אלקטרוניקה ידועה בניו - יורק. חנות מאוד גדולה
                    שלמעשה כוללת כמה חנויות: חנות צילום, חנות אלקטרוניקה, אלקטרוניקה ביתית: מכונות קפה,
                    טוסטרים, וכו', חנות עם מוצרים אישיים כמו מכונות גילוח, הסרת שיער, ועוד כל מיני
                    כאלה, וחנות מחשבים ממש גדולה - ניידים, נייחים, GPS, וכו'. אגב,
                    בין החנויות יש חנות אחת שלא ממש קשורה (לא חלק מ - J&R)
                    שמוכרים שם כלי עבודה Leatherman, וכו'.
                    <br />
                    איפה?
                    <br />
                    3 Park Row. שזה למעשה ממש ליד ה - City Hall.
                    מומלץ להכנס לאתר של J&R יש שם הוראות מדוייקות כיצד להגיע, אילו קווים בתחתית וכו'.
                    <br />
                    מה שכן - החנות נמצאת ממש ב - Lower Side, דהיינו ממש למטה, קרוב לגראונד זירו, לצ'יינה טאון,
                    גשר ברוקלין, וכו' - לכן מומלץ לתכנן ביקור בחנות כאשר נמצאים שם באיזור.
                    <br />
                    <a href="http://www.jr.com" class="Bluelink" target="_blank">J&R</a>
                    <br />
                    <a href="http://www.jr.com/information/directions.jsp" class="Bluelink" target="_blank">הוראות הגעה</a>
                    <br /><br />
                    <strong>F.A.O Schwarz, Toys R Us</strong>
                    <br />
                    שני חנויות צעצועים ענקיות. פשוט מדהים. ב - Toys R Us יש בתוך החנות גלגל ענק.
                    ב - F.A.O Schwarz מקבל אותכם בכניסה שומר לבוש במדים מגניבים כאלה, כאילו
                    יצא מסרט מצוייר.
                    בתוך שני החנויות התצוגה של הצעצועים מאוד מרשימה, כך שגם אם לא מתכוונים ממש לקנות, שווה
                    קפיצה, רק בשביל לראות ולהתרשם.
                    <br />
                    איפה?
                    <br />
                    F.A.O Schwarz נמצאת על החמישית, ורח' 59. (ממש צמוד לחנות של Apple). כאשר ממול יש את
                    המלון המפורסם שיצחק תשובה קנה לא מזמן - מלון פלאז'ה הידוע.
                    <br />
                    Toys R Us נמצאת ממש קרוב לכיכר טיימס - קשה לפספס.
                    <br /><br />
                    <strong>Apple Store</strong>
                    <br />
                    כמובן, שאיך אפשר להיות בניו - יורק ולא להכנס לחנות של Apple? ולו רק בכדי לבדוק אימייל,
                    או להכנס ל - ynet ולראות מה חדש בארץ (אפילו אם לא תפסתם מחשב פנוי - כי רוב הזמן
                    הכל תפוס - החנות בד"כ מפוצצת - עדיין תוכלו לעמוד מאחורי אחד האנשים
                    בחנות ולהציץ למחשב ולראות מה חדש בארץ..... מלא ישראלים שם..). החנות אגב, פתוחה 24 שעות.
                    <br /><br />
                    <strong>NBA Store</strong>
                    <br />
                    חנות קונספט של ה - NBA, מלא מרצ'נדייז כמו חולצות, גופיות, פוסטרים,
                    כדורי - סל, וכל מה שקשור ל - NBA.
                    גם כאן מומלץ להכנס לעשר דקות גם אם לא מתכוונים לקנות כלום (מי מאיתנו לא אהד / שיחק
                    בשלב כלשהו בחייו ב - NBA על המחשב..) - כמובן שמדובר בחנות חובה לחובבי / אוהדי NBA.
                    <br />
                    איפה?
                    <br />
                    השדרה החמישית, ורחוב 52.
                    <br /><br />
                    בערב הלכתי לאכול ארוחת ערב במסעדת טליה: Talia's Steak House.
                    מסעדה כשרה ב - Upper West Side, 3 דקות הליכה מהמלון.
                    <br />
                    Amsterdam Ave, בין הרחובות 92 ו - 93. (למי שמגיע מהעיר, צריך לרדת בתחנה ברחוב 96) ואז
                    לרדת שלוש רחובות, ולעלות שדרה אחת (לכיוון מזרח).
                </p>


                <h6>יום שלישי: פסל החירות - Statue Of Liberty</h6>
                <p>
                    התוכנית המקורית הייתה ללכת ביום שלישי ל - Six Flags, וכאן מגיע
                    הטיפ החשוב הבא (למחר..): האוטובוס האחרון ל - Six Flags יוצא בשעה 09:30 בבוקר
                    מהתחנה מרכזית ב - Port Authority
                    ולכן כדאי (ומומלץ) להקדים.
                    <br />
                    עשר בבוקר, פספסתי את האוטובוס, שינוי תוכניות מהיר - מזיז את פסל החירות
                    מיום רביעי ליום שלישי, יוצא לכיוון Battery Park, משם ניקח את המעבורת לאי שעליו נמצא פסל החירות.
                    <br />
                    גם כאן מומלץ להגיע ממש מוקדם, כיוון שהתורים ממש ארוכים - אני עמדתי שעה וחצי לעלות
                    על המעבורת. מי שלא מגיע מוקדם, כנראה גם שלא יוכל לעלות לפסל, אלא רק להיות על האי.
                    <br />
                    עקרונית, לוקחים את התחתית עד למטה - נדמה לי שהאדום מגיע לשם. בכל מקרה, תשאלו
                    כל ניו יורקי מזדמן ברכבת איך מגיעים ל - Statue Of Liberty והוא יכווין אותכם בצ'יק.
                    זה נראה לי אחד המקומות הכי מפורסמים בעיר, אם לא המפורסם שבהם..
                    <br />
                    <a href="http://www.statuecruises.com" class="Bluelink" target="_blank">Statue Cruises</a>
                    <br />
                    כשמגיעים - ללכת מהר לקנות כרטיסים (גם שם יש תור..) לי עלה:12$ - רק שיט לאי, בלי עלייה לפסל
                    (כבר היה מאוחר יחסית - 12:00 בצבריים עד שהגעתי..) , איך שקונים את הכרטיסים - ישר
                    לתור למעבורת - זה וואחד תור של איזה שעה וחצי פלוס מינוס.
                    <br />
                    שטים לפסל, מהמעבורת יש אחלה נוף של המגדלים של מנהטן - להכין מצלמות.. , ולאט לאט הפסל מתחיל להתקרב..
                    עכשיו באמת מרגישים אמריקה, מרגישים ניו -יורק..
                    <br />
                    הפסל הולך וגדל. די מרשים לראות סוף סוף במציאות את מה שרואים כל הזמן בסרטים / עיתונים וכו'.
                    <br /><br />
                    <img alt="הרציף ממנו יוצאים" src="../img/tour_guides/new_york/statue_of_liberty_1.jpg" />
                    <img alt="מהסירה" src="../img/tour_guides/new_york/statue_of_liberty_2.jpg" />
                    <img alt="פסל החירות" src="../img/tour_guides/new_york/statue_of_liberty_3.jpg" />
                    <img alt="פסל החירות" src="../img/tour_guides/new_york/statue_of_liberty_4.jpg" />
                    <br /><br />
                    מגיעים לאי , יורדים, רואים את הפסל, כמובן שמצטלמים. למי שיש כרטיס - עומד עוד קצת בתור כדי לעלות
                    למעלה (אני לא עליתי). למעשה כל עשרים דקות יוצאת מעבורת שממשיכה ל - Ellis Island שזה למעשה מוזיאון ההגירה.
                    בעבר, זה היה שער הכניסה לאמריקה. כאן היו מתרכזים כל המהגרים. מוזיאון שמספר את סיפורם של
                    המהגרים, ולמעשה את סיפורה של ארה"ב. כמובן שליהודים יש נוכחות גבוהה במוזיאון...
                    <br />
                    כדאי, ומעניין.
                    <br /><br />
                    משם חוזרים למנהטן.
                    <br />
                    התחנה הבאה הייתה <strong>Wall Street</strong>
                    הלא היא הבורסה של ניו - יורק, ואולי הבורסה המפורסמת (והמשפיעה) בעולם.
                    זה נמצא ממש קרוב יחסית ל - Battery Park, אם אני לא טועה זה מרחק הליכה, או מקס'
                    קו אחד בתחתית משם - שוב, לשאול את הניו יורקרים בשטח.. , יש גם שילוט משם.
                    בכל מקרה קווים 4-5 ירוק מגיעים לתחנה של ה - Wall Street.
                    <br />
                    להכנס לבורסה לא ניתן, אבל כל האיזור והבניינים ממש מרשימים.
                    ובכלל, רק להיות במקום הזה - חובה..
                    <br />
                    <img alt="וול סטריט" class="article_img" src="../img/tour_guides/new_york/wall_st.jpg" />
                    <img alt="וול סטריט" src="../img/tour_guides/new_york/wall_st_1.jpg" />
                    <img alt="וול סטריט" src="../img/tour_guides/new_york/wall_st_2.jpg" />
                    <br />
                    ברחוב של הוול סטריט יש שלטי רחוב כאלה עם הסברים על הבורסה, איך התחיל הכל וכו' - מומלץ
                    לעצור ולקרוא, מעניין. ממש ליד הבורסה יש את מוזיאון הבורסה - לחובבי הפיננסים שביננו - לא נכנסתי
                    , אבל הבנתי שמעניין (אולי בביקור הבא..) , בכל מקרה זה נסגר מוקדם - נראה לי
                    בארבע אחה"צ - אז להקדים..
                    <br /><br />
                    חזרתי לעיר, קצת הסתובבויות - פה שם, שם פה, בניינים, רחובות, ובערב (יותר נכון בלילה..)
                    הלכתי את <strong>גשר ברוקלין</strong>.
                    <br />
                    גשר ברוקלין למעשה מחבר את מנהטן וברוקלין. אחת האטרקציות המומלצות. עשיתי כפי שהמליצו
                    בכל הטיפים באתר למטייל והלכתי על הגשר בלילה. מה שקורה הוא שהולכים מברוקלין אל מנהטן, והמראה
                    מהמם, רואים את כל הבניינים והאורות. כולם ממליצים לעשות את זה בשעת בין הערביים / לילה
                    ואני מצטרף להמלצות.
                    <br />
                    מומלץ במיוחד לזוגות רומנטיים...
                    <br />
                    אני אחזור על טיפ שחוזר על עצמו בכל האתרים: לקחת מצלמות!
                    <br />
                    הגשר עצמו מאוד מרשים, מנהטן כמובן, ומרחוק ניתן לראות ממש בקטן את פסל החרות.
                    <br />
                    על הגשר עצמו יש כמובן מסלול נפרד להולכי רגל. שימו לב שצד אחד מיועד
                    לרוכבי אופניים, וצד שני להולכי רגל - יש סימון - אז לא ללכת על הצד של רוכבי
                    אופניים (ויש הרבה בערב, והם רוכבים מהר..). ללכת את הגשר לוקח בין חצי שעה
                    ל - 45 דקות.
                    <br /><br />
                    <img alt="גשר ברוקלין" src="../img/tour_guides/new_york/bridge.jpg" />
                    <img alt="גשר ברוקלין" src="../img/tour_guides/new_york/bridge1.jpg" />
                    <br />
                    איך מגיעים?
                    <br />
                    לוקחים את קו A או C כחול ממנהטן.
                    יורדים בתחנת High St.
                    <br />
                    שימו לב, וזה טיפ חשוב - לרדת רק בתחנה הזו. כיון שאם יורדים תחנה אחת לפני או אחרי
                    (יש גולשים שסיפרו שהלכו ממנהטן לברוקלין, ואז הולכים עם הגב למנהטן ומפספסים הכל..), מפספסים את
                    כל היופי של מנהטן (ואת זה רשמו גולשים בלמטייל). לכן, לרשום שוב: תחנת High St. קווים A או C כחול.
                    <br />
                    יוצאים מהתחנה, פונים שמאלה,  ויש שילוט עד לתחילת המסלול - כלומר, עד העלייה לגשר.
                    <br />
                    את הגשר מסיימים ליד ה - City Hall, Park Row - איפה ש - J&R (סגור כבר בשעות אלו...).
                </p>

                <h6>יום רביעי: Six Flags</h6>
                <p>
                    קמתי מוקדם, כוס קפה ודונאטס בדאנקין דונאטס שנמצא ממש ליד המלון, כשר כמובן - יש תעודה.
                    ומשם שמתי פעמיי אל עבר תחנה מרכזית Port Authority על מנת לתפוס את האוטובוס ל - Six Flags - יוהו!!!
                    <br />
                    היום הולכים לעשות מלא Roller Coaster's (ובעברית: רכבות הרים מגניבות!!!). יוהווווווו!!!!!!!!!!
                    <br />
                    ת'כלס, אם יש סיבה לטוס לחו"ל זה בשביל ה - Roller Coasters..
                    <br />
                    Six Flags זה למעשה רשת של פארקי - שעשועים בכל העולם.
                    ליד ניו - יורק (וניו - ג'רזי) יש את Six Flags Great Adventure:
                    <br />
                    <a href="http://www.sixflags.com/greatAdventure/index.aspx" class="Bluelink" target="_blank">Sixflags GreatAdventure</a>
                    <br /><br />
                    אני אחזור שוב על הטיפ מאמש: תקומו מוקדם!! האוטובוס האחרון יוצא בשעה 09:30 בבוקר.
                    האוטובוס חזור אגב, מתחיל משש בערב - לבדוק בלוח זמנים שמקבלים בתחנה מרכזית!
                    <br />
                    האוטובוס ל - Six Flags יוצא מרציף 324.
                    <br />
                    טיפ נוסף: לקחת קופון בתחנה מרכזית. אני חסכתי 10$.
                    <br />
                    כרטיס כניסה למבוגר עולה:
                    49$. עם הקופון מהתחנה מרכזית עלה לי 39$ + 2.80$ מע"מ יצא
                    סה"כ 42.79$ (שווה כל סנט...).
                    <br /><br />
                    טוב, על הפארק עצמו אין הרבה מה להרחיב - מלא Roller Coasters (שוב, רכבות הרים מגניבות..)
                    מגניבות יותר, ומגניבות יותר... , הרכבות המומלצות ביותר לטעמי הן ה - NITRO,
                    SCREAM MACHINE, וכמובן ה - EL TORO!! (קחו בחשבון תור של שעתיים...).
                    לצערי הרב ביום שהייתי - גולת הכותרת של הפארק ה - Kingda ka הייתה סגורה לרגל תיקונים... :(
                    <br />
                    לא נורא, יש סיבה לחזור שוב לניו - יורק...
                    <img alt="Six Flags" class="article_img" src="../img/tour_guides/new_york/sixflags.jpg" />
                    <br /><br />
                    לא לשכוח לקחת מפה של הפארק בכניסה.
                    <br />
                    יש בפארק <strong>מסעדה כשרה</strong>
                    ליד ה - NITRO (באיזור של הבאטמן).
                    <br /><br />
                    בפארק יש פעמיים ביום מופע דולפינים ואריות ים - מומלץ, בעיקר לילדים - לא רק.
                    <br /><br />
                    כאן מגיע הדיון שחוזר על עצמו כמעט בכל פארק שעשועים שווה בחו"ל - האם לקנות או לא
                    לקנות את הכרטיס אקספרס שמאפשר תור מהיר, ועולה בין 15 ל - 30$ בממוצע (משתנה בין פארק לפארק). אז כך:
                    מצד אחד, כדי להספיק את כל האטרקציות, בייחוד הרכבות המבוקשות ביותר - כדאי, כיוון של - EL TORO לדוגמה
                    חיכיתי כמעט שעתיים. הבנתי גם של  - Kingda da (כאשר היא פועלת...) מחכים כך..
                    <br />
                    מצד שני, אם באים מוקדם אז מספיקים מלא רכבות, בלי יותר מדיי תור. העניין הוא שלאחר כ - 4-5 רכבות
                    הראש כבר מתחיל להסתחרר וצריך איזה שעה / שעתיים הפסקה עד שממשיכים עם שאר הרכבות (ביינתיים אפשר להכנס שם
                    לקפה אינטרנט ולגלוש חינם על המחשבים - איטי חבל על הזמן!!!).
                    <br />
                    אלו השיקולים - כל אחד יעשה את הבחירה שלו....
                    <br /><br />

                    שש וחצי בערב, תפסתי את האוטובוס חזרה לניו - יורק, חשוב לבדוק בבוקר מתי האוטובוסים חזרה,
                    כדי לא להיתקע...
                    <br /><br />
                    בערב הלכתי לאכול ארוחת ערב במסעדת Solo.
                    <br />
                    מדובר במסעדת יוקרה כשרה (ויש הרבה כאלה בעיר..).
                    <br />
                    <a href="http://www.theprimegrill.com/solo/media/solo.html" class="Bluelink" target="_blank">Solo</a>
                    <br />
                    בקרוב סיקור נפרד על המסעדה..
                    <br />
                    המסעדה נמצאת על שדרת מדיסון: Madison Ave בין הרחובות 55 ו - 56. (זה למעשה בבניין של החנות של סוני).
                    <br /><br />
                    כאן המקום להמליץ על עוד מספר <strong>מסעדות כשרות בניו - יורק:</strong>
                    <br />
                    The Primegrill: נמצאת על
                    Lexington Ave (שדרה אחת מערבה לשלישית),  49th Street
                    <br />
                    <a href="http://www.theprimegrill.com" class="Bluelink" target="_blank">The Primegrill</a>
                    <br /><br />
                    La Carne Grill: 340 Lexington and 39St.
                    <br /><br />
                    La Marais: בין השדרה ה - 6 וה - 7, רח' 46.
                    <br />
                    <a href="http://lemarais.net/index2.htm" class="Bluelink" target="_blank">La Marais</a>
                    <br /><br />
                    פיצה כשרה, וסנדוויץ' בר צמוד (בשרי).
                    <br />
                    Brodway and 37St.
                    <br />
                    בפיצה יש גם בופה שקונים לפי משקל - 7$ למקביל של קילו שם.
                    <br />
                    לשים לב - לא כמו בארץ שמעמיסים כפי יכולתך - פה על כל גרם משלמים - יצאתי בנזק של 21$
                    (ואפילו לא אכלתי הכל...).
                </p>

                <h6>יום חמישי: גראונד זירו, צ'יינה טאון, איטליה הקטנה, סוהו</h6>
                <p>
                    את יום חמישי התחלתי ב - Lower Manhattan.
                    <br />
                    מהמלון לקחתי את רכבת מספר 2 ל - City Place.
                    <br />
                    קצת השלמות ב - J&R, ומשם לגראונד זירו (מרחק הליכה). האמת שאין הרבה מה לראות כרגע
                    בגראונד זירו - מדובר באתר בנייה ענק - מה שכן, אני סומך על האמריקאים שכבר
                    יקימו שם איזה גורד שחקים ענק כמו שרק הם יודעים......
                    <br /><br />
                    <img alt="גראונד זירו" src="../img/tour_guides/new_york/ground_zero.jpg" />
                    <img alt="Century 21" src="../img/tour_guides/new_york/c21.jpg" />
                    <br />
                    משם לחנות Century 21, שנמצאת ממש ממול.
                    <br />
                    <a href="http://www.c21stores.com" class="Bluelink" target="_blank">Century 21</a>
                    <br />
                    מדובר בחנות כלבו ענקית עם מלא בגדים, נעליים, ועוד. הרבה סיילים, מותגים, החל מחולצות
                    פולו, חליפות יוקרה, נעליים, בגדי נשים, ילדים, מזוודות, כלי בית - בקיצור - כמעט הכל..
                    <br />
                    מחירים טובים, שווה קפיצה.
                    <br /><br />
                    משם המשכתי ל - <strong>צ'יינה טאון</strong>:
                    <br />
                    לוקחים את התחתית עד לרח' קנל: Canal St.
                    <br />
                    Canal St. הוא למעשה ברחוב הראשי של הצ'יינה טאון.
                    מתחילים ללכת עליו ולאט לאט האווירה משתנה, הבניינים קטנים יותר, אריטקטורה שונה,
                    בניינים בסגנון סיני, שלטים בסינית, סינים ברחוב.
                    זוהי הצ'יינה טאון - סין הקטנה.
                    <br /><br />
                    <img alt="צ'יינה טאון" src="../img/tour_guides/new_york/china_town.jpg" />
                    <img alt="צ'יינה טאון" src="../img/tour_guides/new_york/china_town_1.jpg" />
                    <br />
                    מרח' קנל יוצאים רחובות ימינה ושמאלה שהם למעשה הליבה של ה - צ'יינה טאון.
                    יש שם מלא דוכני וחנויות שעונים ויהלומים, והרבה מתנות ומזכרות מסין.
                    <br />
                    מסתובבים, טועמים את האווירה, חנויות המזכרות מסין, ריחות, ובעיקר - אווירה.
                    <br /><br />
                    באמצע רחוב Canal יש פנייה לרחוב של <strong>איטליה הקטנה: Little Italy</strong>
                    <br /><br />
                    <img alt="איטליה הקטנה" src="../img/tour_guides/new_york/little_italy.jpg" />
                    <img alt="איטליה הקטנה" src="../img/tour_guides/new_york/little_italy1.jpg" />
                    <br /><br />
                    מדובר למעשה ברחוב קטן שיש בו הרבה מסעדות איטלקיות, פסטות / פיצות / וכו'. ת'כלס למי שלא יושב לאכול - אין
                    הרבה מה להתעכב, 10 דקות ועוברים את הרחוב, וממשיכים הלאה לכיוון ה - <strong>SOHO:</strong>
                    <br />
                    הסוהו זה איזור קניות עם כל מיני גלריות ודברים מיוחדים. בשנים האחרונות נחשב לאיזור
                    אופנתי וטרנדי. ההגעה היא מכיוון איטליה הקטנה: חוצים את רחוב איטליה הקטנה. בסוף איטליה הקטנה
                    ממשיכים כשני בלוקים לרחוב ספרינג, ואז פונים שמאלה ל - SOHO (ברחוב ספרינג).
                    <br />
                    בסוהו כמובן, עושים קניות.... אין משהו מיוחד לראות, אבל אפשר להכנס לגלריות ולחנויות -
                    אומרים שיש שם כל מיני פריטים מעניינים - לא הקדשתי יותר מדיי זמן..
                    <br /><br />
                    ובערב, כל השבוע חיכיתי לזה - <strong>הצגה בברודווי: MAMMA MIA!!!</strong>
                    <br />
                    <a href="http://www.mamma-mia.com" class="Bluelink" target="_blank">MAMMA MIA!</a>
                    <br />
                    טיול בניו - יורק (ועוד פעם ראשונה..) בלי הצגה בברודווי זה כמו תה בלי סוכר, חומוס בלי פיתה...
                    <br />
                    ולכן ביום חמישי בערב שמתי פעמיי אל תיאטרון MAMMA MIA שמצא בין רחוב 50 לרחוב 51 (על שדרת ברודווי כמובן...), ליתר
                    דיוק שם התיאטרון הוא: WINTER GARDEN.
                    <br />
                    למעשה לכל הצגה בברודווי יש את התיאטרון שלה.
                    <br />
                    כרטיסים מומלץ לרכוש כל יום החל מהשעה שלוש אחה"צ ב - TKTS שמצא על רחוב 47 בין שדרת ברודווי והשדרה השביעית.
                    קשה לפספס את השלט האדום הגדול..
                    <br />
                    כעיקרון משלוש אחה"צ אפשר להשיג כרטיסים להצגות בחצי מחיר.
                    <br />
                    כשאני באתי לא היה להם כרטיסים ל - MAMMA MIA ולכן נאלצתי ללכת לקנות בתאטרון עצמו.
                    <br />
                    מחיר כרטיס הכי זול הוא בערך 60$, אך כשהגעתי (בערך בחמש אחה"צ) נגמרו הכרטיסים בישיבה, אז קניתי
                    כרטיס בעמידה ב - 21.5$.
                    <br />
                    שימו לב: ההצגות בברודווי בדרך כלל מתחילות ב<strong>שמונה בערב</strong>, צריך להגיע עשר דקות לפני.
                    <br />
                    אמנם עמדתי כל המחזמר - אך היה שווה כל רגע, וכל סנט!!!!
                    <br />
                    מחזמר מדהים, מבוסס כמובן על השירים של להקת ABBA.
                    לא סתם זאת אחת ההצגות הכי מבוקשות - להקדים לרכוש כרטיסים!
                    <br />
                    כמו שאומרות הביקורות - מקפצים בכיסאות...
                    <br />
                    אגב, גם מי שלא ממש שולט באנגלית יהנה - בגלל השירים המוכרים של להקת ABBA.
                    <br />
                    לא נספר כאן את העלילה כדי לא להרוס - לכו תראו!!! מומלץ מומלץ מומלץ!!

                </p>

                <h6>יום שישי: גן החיות של הברונקס</h6>
                <p>
                    גן החיות של הברונקס: <strong>Bronx Zoo</strong> נחשב לגן החיות הגדול ביותר בארה"ב.
                    ממוקם כאמור ברובע ברונקס.
                    <br />
                    יום שישי בבוקר, אחרי כוס קפה וקוקיס ענקית בקפה Mocias הכשר שליד המלון.
                    <br />
                    משם לקחתי את התחתית - קו 2 אדום (אפשר גם קו 5 ירוק) לתחנת E180St.
                    <br />
                    ביציאה מהתחנה פונים מיד ימינה, הולכים ימינה לאורך הרחוב (על פי השילוט), ועוד פעם
                    ימינה ל - Zoo.
                    <br />
                    כניסה עולה 15$, כאשר בתוך גן - החיות יש עוד מתחמים בתשלום נוסף: 3$ לעולם הגורילות,
                    ו - 4$ למתחם הפילים (נסיעה על רכבת פנימית).
                    <br />
                    הגן - חיות ממש גדול ומרשים, המון עצים וצמחייה, וכמובן - חיות.. ,
                    מכל המינים - ג'ירפות, אריות, טווסים, נמרים, קופים, זוחלים, ציפורים - לא רק ילדים יהנו.
                    <br /><br />
                    <img alt="Bronx ZOO" src="../img/tour_guides/new_york/bronx_zoo.jpg" />
                    <img alt="Bronx ZOO" src="../img/tour_guides/new_york/bronx_zoo_1.jpg" />
                    <br /><br />
                    בכניסה מקבלים מפה של הגן - חיות. המסלול הוא מסלול מעגלי. לא לפספס את עולם הציפורים,
                    עולם הזוחלים, וחיות מדגסקר.
                    <br />
                    לי הספיק 3 שעות פלוס מינוס, מן הסתם למשפחות עם ילדים ייקח יותר זמן.
                    <br /><br />
                    מהגן - חיות חזרה למנהטן, שדרת מדיסון - מוזיאון סוני.
                    ממוקם כאמור על Madison Av ורחוב 55.
                    זה מוזיאון קטן שמציג את ההסטוריה של סוני, והאלקטרוניקה במאה האחרונה בכלל.
                    <br />
                    נחמד לראות את הווקמן הישן / דיסקמן של פעם ולהתרפק על הנוסטלגיה..
                    <br />
                    בנוסף, מוצגות טכנולוגיות חדשות, ואיך סוני רואה את העתיד הטכנולוגי שלנו.
                    ביקור נחמד של 45 דקות עד שעה. צמוד למוזיאון יש את החנות של סוני.
                    <br />
                    אגב, בבניין יש מסעדת גורמה כשרה - מסעדת Solo.
                    <br /><br />
                    ממוזיאון סוני המשכתי ל<strong>חנות NBA</strong>
                    שנמצאת על השדרה החמישית ורחוב 52.
                    <br />
                    ביקור חובה לכל חובב NBA / כדור - סל, מלא מרצ'נדייז של ה - NBA, חולצות, כוסות,
                    גופיות, כדורי - סל, פוסטרים - של כל השחקנים מכל הזמנים כמובן. בקיצור - כל מה
                    שקשור ל - NBA.
                    <br /><br />
                    מחנות ה - NBA יצאתי לכיוון ה - <strong>MoMa:The Museum of Modern Art</strong>
                    המוזיאון לאומנות מודרנית המפורסם והידוע.
                    <br />
                    המוזיאון ממוקם על רחוב 53, בין השדרה החמישית לשישית.
                    <br />
                    טיפ: כל יום שישי החל מארבע אחר - הצהריים הכניסה למוזיאון היא חינם.
                    <br />
                    האמת? מבחינתי די בזבוז זמן ה - MoMa.
                    קירות מלאי קשקושים ושרבוטים - ועוד קוראים לזה אומנות......
                    <br />
                    אהבתי את תערוכת האדריכלות - נראה לי בקומה 2 או 3. ואת תערוכת הצילום, נדמה לי
                    באותה קומה של האדריכלות, או אחת מעל.
                    <br />
                    מה - MoMa חזרתי למלון להתארגן לקראת שבת.
                    <br />
                    וכך הסתיים לו שבוע מופלא בניו - יורק סיטי.........
                </p>

                <h6>שבת: Upper West Side, אוניברסיטת קולומביה</h6>
                <p>
                    שבת במלון - ערב שבת תפילה בעוזי, ארוחת שבת בחב"ד (הכתובות למעלה). ושבת בבוקר
                    תפילה בישראל הצעיר. לאחר מכן סבב קידושים וקיגלים: ישראל הצעיר, המרכז היהודי, וכמובן - חב"ד - זכוה בתחרות
                    הקוגל הטוב ביותר...
                    <br />
                    בצהריים הלכתי לטייל באוניברסיטת קולומביה שנמצאת על ברודווי ורחוב 113 מערב.
                    <br />
                    קמפוס די מרשים, מדשאות יפות, בניינים וכו' - אחלה טיול לשבת בצהריים.
                    משם כרגיל לסנטרל פארק, ל - Great Loan, מוצ"ש, והופ לשדה - תעופה - חוזרים הבייתה..

                </p>

                <h6>מקומות נוספים</h6>
                <p>
                    <strong>מרכז האו"ם</strong>
                    <br /><br />
                    מרכז האום - האומות המאוחדות, אום שמום אם תרצו נמצא ברחוב 42 והשדרה הראשונה.
                    אולי אחד המקומות המפורסמים בניו יורק, ובכלל בעולם. כאן נמצאת העצרת הכללית, על כל הרגעים ההסטוריים וכו' וכו'.
                    <br />
                    הבניין מאוד מרשים ומטופח ושוקק תיירים הן מבפנים והן מבחוץ.
                    <br />
                    הכניסה היא מרחוב 45. לאורך הבניין יש את הדגלים של כל המדינות - תמיד כיף ומחמם את הלב לראות
                    את דגל ישראל מתנופף גאה ברוח.
                    <br />
                    מומלץ להגיע עד ארבע אחר - הצהריים מקסימום, כי בחמש המקום נסגר למבקרים.
                    <br />
                    ניתן לקחת במקום סיור מודרך בתשלום. כדי להכנס לאולם של העצרת הכללית חייבים לקחת סיור - אי אפשר לבד.
                    <br />
                    מי שלא מעוניין בסיור מודרך בתשלום יכול להתרשם מקומת הכניסה שמארחת תערוכות שונות - אני ראיתי
                    תערוכה של צילומי עיתונות מכל העולם - שהיא כשלעצמה מרשימה, ובכלל מהבניין.
                    <br />
                    בקומה התחתונה יש חנות מזכרות עם מזכרות מכל מדינות העולם - כולל מישראל כמובן.
                    בקיצור, בשביל החוויה ההסטורית - שווה ביקור.
                    <br /><br />
                    את רומא לא כבשו ביום אחד, וגם אני לא הספקתי את כל ניו - יורק בשבוע אחד..
                    <br />
                    לכן, אמליץ כאן על עוד מקומות שאומרים שכדאי ומעניין לבקר בהם,
                    אך אני לא הספקתי (יש למה לחזור..) אם תהיו -
                    אשמח לשמוע איך היה...
                    <br /><br />
                    הגנים הבוטניים
                    <br />

                    <br /><br />
                    רוצים להוריד את המדריך בפורמט pdf?
                    <br />
                    לחצו על הכפתור Pay with a Tweet or Facebook:
                    <br />
                    ההורדה אינה עולה כסף, אך התשלום יהיה לעשות שיתוף בטוויטר או בפייסבוק לאתר - לחצו על הכפתור להורדה:
                    <br />
                    <iframe src="http://www.paywithatweet.com/dlbutton02.php?id=ac3b1a56a0e5d6a66f79be6c75ac6cc5" name="paytweet_button2" width="240px" height="24px" scrolling="No" frameborder="no" id="paytweet_button2"></iframe>

                    <!--   <a href="javascript:openWindow('ny_print_edition.html', 'remote');" class="bluelink">גרסת הדפסה</a> -->
                    <br /><br /><br /><br />

                    <iframe src="http://www.facebook.com/plugins/like.php?href=http%253A%252F%252Fwww.wguide.co.il%252Fmore%252Fny.aspx&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:30px;" allowTransparency="true"></iframe>
                    <br />
                    <g:plusone></g:plusone>
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>



                </p>

                <!-- google -->
                <script type="text/javascript">
                <!--
                          
                </script>
                <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
                <!--- ******* -->

            </article>
        </section>
        <!-- סוף תוכן המאמר / מדריך -->
        <!-- פרסומות -->
        <section></section>
        <!-- סוף פרסומות -->

        <!-- ****************** -->
    </div>
    <div class="col-xl-2">
        Margin right
    </div>
</div>


